@model IEnumerable<DaigApplication.Models.AuthAdmin>

@{
    ViewData["Title"] = "Index";
}

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Welcome back! <br />
                    <span style="color: hsl(218, 81%, 75%)">Log in to your account</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Log in to access your dashboard and continue managing your settings.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form asp-action="CheckingIDs" method="post">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" name="emis" id="form3Example1" class="form-control" required />
                                <label class="form-label" for="form3Example1">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" name="passis" id="form3Example2" class="form-control" required />
                                <label class="form-label" for="form3Example2">Password</label>
                            </div>

                            <div class="text-center my-4">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>

                            <!-- Register buttons -->
                            <div class="text-center my-4">
                                <p class="mb-3">Or sign up with:</p>
                                <div>
                                    <a class="btn btn-primary" asp-action="Create">Sign-Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<div class="border border-5 p-4 my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="font-weight-bold">User Management : <span class="text-danger">*FOR DEVELOPMENT PURPOSES ONLY*</span>  </h2>
        <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
    </div>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Usernameis)</th>
                <th>@Html.DisplayNameFor(model => model.Passwordis)</th>
                <th>@Html.DisplayNameFor(model => model.Emailis)</th>
                <th style="width: 150px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Usernameis)</td>
                    <td>@Html.DisplayFor(modelItem => item.Passwordis)</td>
                    <td>@Html.DisplayFor(modelItem => item.Emailis)</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
